* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #120037;
  }
  
  .box {
    position: relative;
    width: 400px;
    height: 400px;
    background: repeating-conic-gradient(from var(--a), #5e17eb 0%, #5e17eb 5%, transparent 5%, transparent 5%, transparent 40%, #5e17eb 50%);
    animation: animate 4s linear infinite;
    border-radius: 20px;
  }
  
  @property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
  }
  
  @keyframes animate {
    0% {
      --a: 0deg;
    }
  
    100% {
      --a: 360deg;
    }
  }
  
.box:before {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #5e17eb 0%, #5e17eb 5%, transparent 5%, transparent 5%, transparent 40%, #5e17eb 50%);
    animation: animate 4s linear infinite;
    animation-delay: -1s;
    border-radius: 20px;
}

.box:after {
    content: '';
    display: block;
    color: white;
    font-size: 30px;
    position: absolute;
    inset: 8px;
    background: #120037;
    border-radius: 15px;
    border: 8px solid #120037;
}

.qtext {
  z-index: 9;
  color: #fff;
  font-size: 30px;
  padding-right: 200px;
}